
<div class="main-container">
    <!--------------- PATIENT LIST ---------------->
    
    <div class="no-record">
        <div class="search-result">
            <h3 style="text-align: center;">CDM Monthly Report For Diabetic and Hypertensive Patients</h3>
            <p class="no-margin-top">
                <span class="bg-blue" style="font-weight: bold;" *ngIf="cat == 'NH'">NEW HYPERTENSIVE</span>
                <span style="font-weight: bold;" *ngIf="cat == 'KH'">KNOWN HYPERTENSIVE</span>
                <span style="font-weight: bold;" *ngIf="cat == 'ND'">NEW DIABETIC</span>
                <span style="font-weight: bold;" *ngIf="cat == 'KD'">KNOWN DIABETIC</span>
                <span style="font-weight: bold;" *ngIf="cat == 'HD'">HYPERTENSIVE & DIABETIC</span> PATIENT LIST</p>
           <p> Month: {{ month }} | Location: {{ loc }}</p>          
            <table class="pt4a-table">
                <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th>Encounter Date</th>
                        <th>Location</th>
                        <th>Hypertension Status</th>
                        <th>Diabetes Status</th>
                        <th>Gender</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of patients">
                        <td>{{patient.name}}</td>
                        <td>{{patient.encounter_datetime}}</td>
                        <td>{{patient.location_id}}</td>
                        <td>{{patient.htn_status}}</td>
                        <td>{{patient.dm_status}}</td>
                        <td>{{patient.gender}}</td>
                        <td>{{patient.Age}}</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>