
<div class="main-container">
    <!--------------- PATIENT LIST ---------------->
    
    <div class="no-record">
        <div class="search-result">
            <h3 style="text-align: center;">CDM Monthly Report For Diabetic and Hypertensive Patients</h3>
            <p class="no-margin-top">NEW HYPERTENSIVE PATIENT LIST [Category: {{ cat }}]</p>
           <p> Month: {{ month }} | Location: {{ loc }}</p>          
            <table class="pt4a-table">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Location</th>
                        <th>New Hypertensive</th>
                        <th>Known Hypertensive</th>
                        <th>New Diabetic</th>
                        <th>Known Diabetic</th>
                        <th>Hypertensive & Diabetic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Isaiah Thomas</td>
                        <td>PG</td>
                        <td>5'9"</td>
                        <td>02-07-1989</td>
                        <td>$473,604</td>
                        <td>08-13-1990</td>
                        <td>$4,917,000</td>
                    </tr>
                    <tr>
                        <td>Ben McLemore</td>
                        <td>SG</td>
                        <td>6'5"</td>
                        <td>02-11-1993</td>
                        <td>$2,895,960</td>
                        <td>08-13-1990</td>
                        <td>$4,917,000</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>