<div class="main-container">
    <!-- <div class="no-record">
        <h4><i class="fa fa-eye-slash fa-5x"></i></h4>
        <h6>No Patient Record to View</h6>
        <p>Please Search for patient using name to generate Patient Information</p>        
    </div> -->
    <div class="no-record">
        <div class="search-result">
            <h3>All Point Of Care Facility Locations</h3>
            <table class="pt4a-table">
                <thead>
                    <tr>
                        <th>Ref Number</th>
                        <th>Name</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DeMarcus Cousins</td>
                        <td>C</td>
                        <td>$4,917,000</td>
                    </tr>
                    <tr>
                        <td>Isaiah Thomas</td>
                        <td>5'9"</td>
                        <td>$473,604</td>
                    </tr>
                    <tr>
                        <td>6'5"</td>
                        <td>02-11-1993</td>
                        <td>$4,917,000</td>
                    </tr>
                    <tr>
                        <td>05-05-1987</td>
                        <td>Marcus Thornton</td>
                        <td>$4,917,000</td>
                    </tr>
                    <tr>
                        <td>$4,917,000</td>
                        <td>PF</td>
                        <td>6'11"</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>