<app-splash
    [animationType]="'fade-out'"
    [duration]="2.4"
    [animationDuration]="1"
></app-splash>

<!--------------- Wrapper --------------->
<div class="wrapper">
    <!--------------- Top bar -------------->
    <div class="top-bar">
        <div class="top-bar-container-left">            
            <h5><i class="fa fa-bars"></i><i class="fa fa-home"></i> POC:AMRS - CDM Database</h5>
        </div>
        <div class="top-bar-container-right">
            <div class="top-bar-container-right-a">                
                <div class="top-box">
                    <input  type="text" class="form-control" placeholder="Search here"/>                  
                </div>  
            </div>
            <div class="top-bar-container-right-b">
                <div class="user-box">
                    <div class="user-data">
                        <div class="avatar"><img src={{avatar}} alt="avatar"/></div>
                        <div class="nomenclature">
                            <h6><b>SIROR</b>, Victor Lagat</h6>
                            <p>Software developer</p>
                        </div>
                    </div>
                    <div class="user-notifications">
                        <h5 class="bg_e"><i class="fa fa-envelope"></i></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------- Menu right -------------->
    <div class="menu-right">
        <a routerLinkActive="active" routerLink="/"><div class="list-group1">
            <h5><i class="fa fa-search fa-5x"></i></h5>
            <p class="tag">Search</p>
        </div></a>
        <hr />
        <a class="list-group" routerLinkActive="active" routerLink="/patient-list"><div class="list-group1">
            <h5><i class="fa fa-users fa-5x"></i></h5>
            <p class="tag">Patients</p>            
        </div></a>
        <hr />
        <a class="list-group" routerLinkActive="active" routerLink="/locations"><div class="list-group1">
            <h5><i class="fa fa-map-marker fa-5x"></i></h5>
            <p class="tag">Locations</p>            
        </div></a>
        <hr />
        <a class="list-group" routerLinkActive="active" routerLink="/reports"><div class="list-group1">
            <h5><i class="fa fa-file fa-5x"></i></h5>
            <p class="tag">Reports</p>            
        </div></a> 
    </div>
    <!--------------- Main container --------------->
    <div class="main-container">
        <!--------------- Main container components --------------->
        <!--------------- Banner --------------->
        <div class="header-section">
            <div class="header-left">
                <div class="logo-holder-main">
                    <div class="logo-holder">
                        <img src={{logo}} alt="logo"/>
                    </div>
                    <div class="label-holder">
                        <div class="program-label"> <h4>CHRONIC DISEASE MANAGEMENT PROGRAM</h4></div>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <!------------------------------------------------->
                <!------------- Display in search snapshot--------->
                <!------------------------------------------------->
                <div *ngIf="active_r === '/initial'" class="search-param">
                    <h4>Patient Search</h4>
                    <p>Search for Patient using their name</p>
                    <div class="input-box">
                        <span class="more-info not-italic"><p>Query Patient record from CDM Data Set</p></span>                 
                    </div>                     
                </div>
                <!-------------------------------------------------------->
                <!------------- Display in Patients List snapshot--------->
                <!-------------------------------------------------------->
                <div class="search-param" *ngIf="active_r === '/patient-list'">
                    <h4>Patients Data List</h4>
                    <p>List of all Patients Registered</p>
                    <div class="input-box">
                        <span class="more-info not-italic"><p>Patient List and Their Respective CDM Category</p></span>                 
                    </div>                    
                </div>                   
                <!---------------------------------------------------->
                <!------------- Display in Locations snapshot--------->
                <!---------------------------------------------------->        
                    <div class="location-param" *ngIf="active_r === '/locations'">
                        <h4>Health Facilities</h4>
                        <p>List Of all Healthcare locations</p>
                        <div class="input-box">
                            <span class="more-info not-italic"><p>List of all Point of Care Locations - Records</p></span>                 
                        </div>                    
                    </div>               
                <!------------------------------------------------->
                <!------------- Display in Report snapshot--------->
                <!------------------------------------------------->
                <div class="report-param" *ngIf="active_r === '/reports'">
                    <h4>CDM Monthly Reports</h4>
                    <p>Chronic Disease Management Reports</p>
                    <div class="input-box">
                        <span class="more-info not-italic"><p>Monthly Diabetic and Hypertensive Reports</p></span>                 
                    </div>                    
                </div>
                <!------------------------------------------------->
                <!------------- Display in General snapshot--------->
                <!------------------------------------------------->
                <div class="report-param" *ngIf="active_r !== '/patient-list' && active_r !== '/locations' && active_r !== '/initial' && active_r !== '/reports'">
                    <h4>Welcome, Admin</h4>
                    <p>Chronic Disease Management Dashboard</p>
                    <div class="input-box">
                        <span class="more-info not-italic"><p>Based On Clinical Encounter Visits</p></span>                 
                    </div>                    
                </div>
            </div>
        </div>
        <!--------------- Navigation bar --------------->
        <div class="nav-bar">
            <a routerLinkActive="active" routerLink="/"><p class="tag"><i class="fa fa-search"></i>Search</p></a>
            <a routerLinkActive="active" routerLink="/patient-list"><p class="tag"><i class="fa fa-users"></i>Patients</p></a>
            <a routerLinkActive="active" routerLink="/locations"><p class="tag"><i class="fa fa-map-marker"></i>Locations</p></a>
            <a routerLinkActive="active" routerLink="/reports"><p class="tag"><i class="fa fa-file"></i>Reports</p></a> 

        </div>
        <!--------------- Bread crumps --------------->
        <div class="bread-crumps">
            <p> <a  routerLink="/">Home</a>  /  <span *ngIf="active_r === '/initial'">Search Patient by Name</span><span *ngIf="active_r === '/patient-list'">CDM Patient List</span><span *ngIf="active_r === '/locations'">List of All Facility Locations</span><span *ngIf="active_r === '/reports'">CDM Monthly Reports By Location</span><span *ngIf="active_r === '/'">Patient Search & Care </span><span *ngIf="active_r !== '/patient-list' && active_r !== '/locations' && active_r !== '/initial' && active_r !== '/reports'">Reports and other functions</span></p>
        </div>
        <!--------------- Main content --------------->
        <div class="content-flex">            
            <router-outlet></router-outlet>
        </div>
        <!--------------- Footer Panel --------------->
        <div class="footer"></div>
    </div>
</div>