<!--------------- Wrapper --------------->
<div class="wrapper">
    <!--------------- Top bar -------------->
    <div class="top-bar">
        <div class="top-bar-container-left">            
            <h5><i class="fa fa-bars"></i><i class="fa fa-home"></i> POC:AMRS - CDM Database</h5>
        </div>
        <div class="top-bar-container-right">
            <div class="top-bar-container-right-a">                
                <div class="top-box">
                    <input  type="text" class="form-control" placeholder="Search here"/>                  
                </div>  
            </div>
            <div class="top-bar-container-right-b"></div>
        </div>
    </div>

    <!--------------- Menu right -------------->
    <div class="menu-right">
        <a routerLink="/"><div class="list-group">
            <h5><i class="fa fa-search fa-5x"></i></h5>
            <p class="tag">Search</p>
        </div></a>
        <hr />
        <a routerLink="/patient-list"><div class="list-group">
            <h5><i class="fa fa-users fa-5x"></i></h5>
            <p class="tag">Patients</p>            
        </div></a>
        <hr />
        <a routerLink="/locations"><div class="list-group">
            <h5><i class="fa fa-map-marker fa-5x"></i></h5>
            <p class="tag">Locations</p>            
        </div></a>
        <hr />
        <a routerLink="/reports"><div class="list-group">
            <h5><i class="fa fa-file fa-5x"></i></h5>
            <p class="tag">Reports</p>            
        </div></a> 
    </div>
    <!--------------- Main container --------------->
    <div class="main-container">
        <!--------------- Main container components --------------->
        <!--------------- Banner --------------->
        <div class="header-section">
            <div class="header-left">
                <div class="logo-holder-main">
                    <div class="logo-holder">
                        <img src={{logo}} alt="logo"/>
                    </div>
                    <div class="label-holder">
                        <div class="program-label"> <h4>CHRONIC DISEASE MANAGEMENT PROGRAM</h4></div>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <!------------------------------------------------->
                <!------------- Display in search snapshot--------->
                <!------------------------------------------------->
                <div class="search-param">
                    <h4>Patient Search</h4>
                    <p>Search for Patient using their name</p>
                    <div class="input-box">
                        <button>Search</button>
                        <input  type="text" class="form-control" placeholder="Enter name"/>                  
                    </div>                    
                </div>
                <!-------------------------------------------------------->
                <!------------- Display in Patients List snapshot--------->
                <!-------------------------------------------------------->
                <!-- <div class="search-param">
                    <h4>Patients Data List</h4>
                    <p>List of all Patients Registered</p>
                    <div class="input-box">
                        <span class="more-info not-italic"><p>Patient List and Their Respective CDM Category</p></span>                 
                    </div>                    
                </div>                    -->
                <!---------------------------------------------------->
                <!------------- Display in Locations snapshot--------->
                <!---------------------------------------------------->        
                    <!-- <div class="location-param">
                        <h4>Health Facilities</h4>
                        <p>List Of all Healthcare locations</p>
                        <div class="input-box">
                            <span class="more-info not-italic"><p>List of all Point of Care Locations - Records</p></span>                 
                        </div>                    
                    </div>                -->
                <!------------------------------------------------->
                <!------------- Display in Report snapshot--------->
                <!------------------------------------------------->
                <!-- <div class="report-param">
                    <h4>CDM Monthly Reports</h4>
                    <p>Chronic Disease Management Reports</p>
                    <div class="input-box">
                        <span class="more-info not-italic"><p>For Diabetic and Hypertensive Patients - Records</p></span>                 
                    </div>                    
                </div> -->
            </div>
        </div>
        <!--------------- Navigation bar --------------->
        <div class="nav-bar"></div>
        <!--------------- Bread crumps --------------->
        <div class="bread-crumps">
            <p> <a  routerLink="/">Home</a>  /  <span>Patient detail search by name</span></p>
        </div>
        <!--------------- Main content --------------->
        <div class="content-flex">            
            <router-outlet></router-outlet>
        </div>
        <!--------------- Footer Panel --------------->
        <div class="footer"></div>
    </div>
</div>