.main-container {
    width: 100%;
    height: auto;
    min-height: 300px;
    margin: 0px auto;
    background-color: inherit;
    padding: 10px 10px;
}
.no-record {
    width: 97.5%;
    height: auto;
    margin: 0px auto;
    float: right;
    min-height: 500px;
    border: 1px solid #dddddd;
    border-radius: 6px 6px 6px 6px;
    background-color: rgba(255, 255, 255,.8);
}
.no-record h4 {
    font-size: 17px;
    text-align: center;
    font-weight: 580;
    color: #cccccc;
    margin-top: 60px;
}
.no-record h6 {
    font-size: 20px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.no-record p {
    font-size: 13px;
    text-align: center;
    padding: 0px;
    padding-top: 4px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textBox {
    width: 50%;
    height: 40px;
    background-color: #eeeeee;
    margin: 6px 25%;
    align-self: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    border: 1px solid #cccccc;
}
.textBox:active {
    border: none;
    background-color: transparent;
}
.search-btn {
    margin: 10px 45%;
    width: 120px;
    height: 36px;
    border-style:none;
    color: #ffffff;
    cursor: pointer;
    background-color:#00adab;
    border-radius: 10px 10px 10px 10px;
}
.search-btn:hover {
    color:#00adab;
    background-color: transparent;
    border: 1px solid #00adab;
    border-radius: 10px 10px 10px 10px;
}
.search-btn:active {
    color: #ffffff;
    background-color:#00adab;
}